/* TODO Add site wide styles */
html {
    font-family: Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding-bottom: 60px;
    padding-top: 50px;
    background-color: #152A4A;
    
}

.main-page{
    display: grid;
    grid-template-columns: 1fr 1080px 1fr;
    grid-template-areas: ". page .";
}

.page{
    grid-area: page;
    min-width: 1080px;
    max-width:1080px;
    background-color: white;
}

.album-art-wrapper{
    position:relative;
}

.album-art{
    position:relative;
    top:0;
    left:0;
}

.album-art:hover + .album-play-btn{
    visibility: visible;
}

.album-art:active + .album-play-btn{
    visibility: visible;
}


.album-play-btn{
    visibility: hidden;
    position: relative;
    top: -15px;
    left: -85px;
    height: 70px;
    width: 70px;
}