/* TODO Add site wide styles */
html {
    font-family: Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding-bottom: 60px;
    padding-top: 29px;
    width: 1080px;
    background-color: #152A4A;
    
}

.page{
    min-width: 1080px;
    max-width:1080px;
    background-color: white;
    margin-left: 100px;
}