.navbar{
    background-color: #2F3235;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.navbar-contents{
    background-color: #2F3235;
    width: 1080px;
    height:100%;
    display: grid;
    grid-template-columns: 65px 1fr 1fr 1fr;
    grid-template-areas: 
    "logo navbar-left search navbar-right";
}

.navbar-left{
    grid-area: "nav-left";
    display: grid;
    grid-template-areas: 1fr 1fr 1fr;
    grid-template-areas: 
    "home stream library"
}


.navbar-home{
    grid-area:"home";
    background-color: #2F3235;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B5BCC7;
    border-right: 1px solid black;
}

.navbar-stream{
    grid-area:"stream";
    background-color: #2F3235;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B5BCC7;
    border-right: 1px solid black;
}

.navbar-library{
    grid-area:"library";
    background-color: #2F3235;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B5BCC7;
    border-right: 1px solid black;
}

.navbar-search{
    grid-area: "search";
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar{
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 30px;
    width: 280px;
}

.navbar-right{
    grid-area: "nav-right";
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-btn{
    border: none;
    background: inherit;
}

.profile-icon{
    font-size: 30px;
    padding-right: 10px;
    color: #B5BCC7;
}

.profile-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #B5BCC7;
}

.profile-dropdown{
    position: absolute;
    top: 50px;
    padding-left: 150px;
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
    width: 50px;
}

.navbar-logo{
    background-color:#2F3235;
    height: 50px;
    width: 65px;
    grid-area: "logo";
    overflow: hidden;
}

.logo-img{
    height: 65px;
    width: 65px;
    margin: -8px 0px 0px 0px;
}

#upload-btn{
    text-decoration: none;
    color: #5C91E0
}